@model StudentCRUD.Models.Student

<h2>Add New Student</h2>

<form method="post">

    <div class="mb-3">
        <label>Name</label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label>Email</label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label>Mobile Number</label>
        <input asp-for="MobileNumber" class="form-control" />
        <span asp-validation-for="MobileNumber" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label>State</label>
        <select asp-for="State" class="form-control">
            <option value="">-- Select State --</option>
            <option value="Tamil Nadu">Tamil Nadu</option>
            <option value="Kerala">Kerala</option>
            <option value="Karnataka">Karnataka</option>
            <option value="Andhra Pradesh">Andhra Pradesh</option>
        </select>
        <span asp-validation-for="State" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label>Gender</label><br />
        <label><input type="radio" asp-for="Gender" value="Male" /> Male</label>
        <label class="ms-3"><input type="radio" asp-for="Gender" value="Female" /> Female</label>
        <span asp-validation-for="Gender" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label>Date Of Birth</label>
        <input asp-for="DateOfBirth" class="form-control" type="date" />
        <span asp-validation-for="DateOfBirth" class="text-danger"></span>
    </div>

    <button class="btn btn-success">Save</button>
    <a href="/Student/Index" class="btn btn-secondary">Back</a>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
