@model Studentdata.Models.StudentInfo
<h2>Add Student</h2>

<form asp-action="Create" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>

    <div>
        <label>Name</label>
        <input asp-for="Name" class="form-control" />
    </div>
    <div>
        <label>Email</label>
        <input asp-for="Email" class="form-control" />
    </div>
    <div>
        <label>Mobile Number</label>
        <input asp-for="MobileNumber" class="form-control" />
    </div>
    <div>
        <label>State</label>
        <input asp-for="State" class="form-control" />
    </div>
    <div>
        <label>Gender</label>
        <input type="radio" asp-for="Gender" value="Male" /> Male
        <input type="radio" asp-for="Gender" value="Female" /> Female
    </div>
    <div>
        <label>Date of Birth</label>
        <input asp-for="DateOfBirth" type="date" class="form-control" />
    </div>
    <button type="submit" class="btn btn-success mt-2">Save</button>
</form>
